<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="ttime-web" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="ttime-web" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="ttime-web" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="ttime-web" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ttime - Find the closest MBTA train</title>
  <meta name="description" content="Ttime helps you find the closest MBTA stops and train arrival times.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/index.css">
</head>
<body>

  <div class="page_wrap" ng-controller="MainController">
    <div class="ttime_header">
      <img id="logo" src="styles/images/logo_grey.png">
      <button ng-click="switchDirection()" id="switch_direction">Switch Direction</button>
    </div>

    <div class="ttime_trips">
      <ul>
      <span ng-repeat="route in trips">
        <span ng-repeat="line in route">
          <li class="ttime_trip {{ line.parent_route_name }}">
            <div></div>
            {{ line.closest_stop_name}} to {{ line.trips[0].trip_headsign }}: {{ line.trips[0].pre_away_rounded }}min
          </li>
        </span>
      </span>
      </ul>
    </div>
    

  </div>

  <script src="stops/stops.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
