@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic);
body, html {
  font-family: 'lato', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%; }
  body .page_wrap, html .page_wrap {
    margin: 0 auto 0 auto;
    padding: 0;
    width: 100%;
    max-width: 500px; }
    body .page_wrap .ttime_header, html .page_wrap .ttime_header {
      width: 100%;
      margin: 0;
      padding: 10px 0 10px 0;
      background-color: #f7f7f7;
      text-align: center;
      position: relative; }
      body .page_wrap .ttime_header #logo, html .page_wrap .ttime_header #logo {
        height: 75px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto; }
      body .page_wrap .ttime_header #switch_direction, html .page_wrap .ttime_header #switch_direction {
        position: absolute;
        display: inline-block;
        right: 10px;
        top: 0;
        bottom: 0;
        height: 40px;
        float: right;
        width: 100px; }
    body .page_wrap .ttime_trips, html .page_wrap .ttime_trips {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0; }
      body .page_wrap .ttime_trips ul, html .page_wrap .ttime_trips ul {
        margin: 0;
        padding: 0;
        display: block;
        width: 100%; }
      body .page_wrap .ttime_trips .ttime_trip, html .page_wrap .ttime_trips .ttime_trip {
        width: 100%;
        padding: 10px 0 10px 0;
        height: 50px;
        margin: 0;
        display: block;
        list-style: none;
        padding-left: 10px; }
      body .page_wrap .ttime_trips .Blue, html .page_wrap .ttime_trips .Blue {
        border-left: 10px #00009c solid; }
      body .page_wrap .ttime_trips .Orange, html .page_wrap .ttime_trips .Orange {
        border-left: 10px #fe6700 solid; }
      body .page_wrap .ttime_trips .Silver, html .page_wrap .ttime_trips .Silver {
        border-left: 10px #8d8787 solid; }
      body .page_wrap .ttime_trips .Red, html .page_wrap .ttime_trips .Red {
        border-left: 10px #c80000 solid; }
